@page "/databindingdemo"
@inherits  DataBindingDemoBase


<h1> Two way Data  Binding Demo</h1>
<hr />

<b>Description</b>

<div>
    <textarea @bind="Description" @bind:event="oninput" style="width:500px"></textarea>

</div>

<div>
        Count : @Description.Length
</div>