@page "/"
@inherits EmployeeListBase

<h3>Employee List</h3>
<input  type="checkbox" id="showFooter" @bind="ShowFooter"/>
<label for="showFooter">Show Footer </label>
@if (Employees == null)
{
    <div class="spinner">
    </div>
}
else
{
    <h3>Selected Employee count -  @SelectedEmployeeCount</h3>

    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <EmployeeDisplay Employee="employee"  ShowFooter="ShowFooter" OnEmplpoyeeSelection="EmployeeSelectionChanged"></EmployeeDisplay>
        }

    </div>
}

